.main
{
    background: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.info
{
    background: white;
    margin: 10px;
    padding: 5px;

    height: 100px;

    border-radius: 10px;

}
.postContainer
{
    background: gray;
    margin: 10px;
    padding: 5px;

    height: fit-content;

    border-radius: 10px;

    display: flex;
    
}